FIXED-workflow-3-finance-money-tips.json
{
  "name": "Finance and Money Tips - YouTube Shorts",
  "active": false,
  "versionId": "d4e5f6a7-b8c9-0123-defa-456789012345",
  "id": "finance-money-tips-v1",
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "finance-money-workflow"
  },
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 8 }] }
      },
      "id": "fin_1",
      "name": "Every 12 Hours 2x Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "notes": "Finance shorts have the HIGHEST CPM on YouTube at $13.52. 3 posts per day maximizes revenue."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://newsapi.org/v2/top-headlines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "category", "value": "business" },
            { "name": "country", "value": "us" },
            { "name": "pageSize", "value": "10" },
            { "name": "apiKey", "value": "={{ $vars.NEWS_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "fin_2",
      "name": "Fetch Financial News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "notes": "Pulls latest business news as content inspiration. Free at newsapi.org"
    },
    {
      "parameters": {
        "jsCode": "const evergreen = [\n  'The $1000 investment that changed my life',\n  'Why 99% of people stay broke and how to escape',\n  'The compound interest trick banks hide from you',\n  '5 passive income streams that actually work in 2025',\n  'How to negotiate a 30% salary raise this week',\n  'The 50/30/20 rule that made me financially free',\n  'Why credit card debt is a trap and how to escape',\n  'How the rich use debt to get richer',\n  'The index fund strategy Warren Buffett recommends',\n  'Stop wasting money on these 7 things immediately',\n  'How to build a $10,000 emergency fund fast',\n  'The real cost of your daily coffee over 30 years',\n  'Roth IRA explained in 60 seconds',\n  '3 side hustles that made me quit my 9-5',\n  'How to flip $1000 into $10000 this year'\n];\nconst articles = $input.first().json.articles || [];\nconst newsTopics = articles.slice(0, 3).map(a => a.title).filter(Boolean);\nconst allTopics = [...evergreen, ...newsTopics];\nconst chosen = allTopics[Math.floor(Math.random() * allTopics.length)];\nreturn [{ json: { topic: chosen, isNews: newsTopics.includes(chosen) } }];"
      },
      "id": "fin_3",
      "name": "Pick Finance Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": [
          { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
          { "name": "anthropic-version", "value": "2023-06-01" },
          { "name": "content-type", "value": "application/json" }
        ],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"You are a viral finance content creator. Write a YouTube Shorts script about: {{ $json.topic }}\\n\\nRules:\\n- Open with a BOLD financial claim or surprising stat that stops the scroll\\n- Include 1-2 real actionable tips someone can use TODAY\\n- Keep it 50-60 seconds when spoken\\n- Simple language, no jargon\\n- End with: Follow for daily money tips\\n- Use you when addressing the viewer\\n\\nRespond ONLY with raw JSON, no markdown:\\n{\\n  \\\"title\\\": \\\"money-focused title with emoji under 65 chars\\\",\\n  \\\"hook\\\": \\\"first shocking line under 10 words\\\",\\n  \\\"script\\\": \\\"full voiceover script\\\",\\n  \\\"key_stat\\\": \\\"one real financial fact used in the video\\\",\\n  \\\"description\\\": \\\"description + 8 hashtags including #money #personalfinance #financetips #shorts\\\",\\n  \\\"tags\\\": [\\\"10 finance tags\\\"],\\n  \\\"visual_search\\\": \\\"2-3 words for stock footage\\\",\\n  \\\"text_overlay\\\": \\\"3-5 word bold text for screen\\\"\\\n}\"\n  }]\n}",
        "options": {}
      },
      "id": "fin_4",
      "name": "Claude - Finance Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content[0].text.trim();\nlet script;\ntry { script = JSON.parse(raw); } catch(e) { const m = raw.match(/\\{[\\s\\S]*\\}/); script = JSON.parse(m[0]); }\nif (!script.script) throw new Error('No script generated');\nreturn [{ json: script }];"
      },
      "id": "fin_5",
      "name": "Parse Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/VR6AewLTigWG4xSOukaG",
        "sendHeaders": true,
        "headerParameters": [
          { "name": "xi-api-key", "value": "={{ $vars.ELEVENLABS_API_KEY }}" },
          { "name": "Content-Type", "value": "application/json" }
        ],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.script }}\",\n  \"model_id\": \"eleven_turbo_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.50,\n    \"similarity_boost\": 0.80,\n    \"style\": 0.40,\n    \"use_speaker_boost\": true\n  }\n}",
        "options": {
          "response": { "response": { "responseFormat": "file", "outputPropertyName": "audio" } }
        }
      },
      "id": "fin_6",
      "name": "ElevenLabs - Confident Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "notes": "Voice ID VR6AewLTigWG4xSOukaG = Arnold (confident, authoritative). Perfect for finance."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudinary.com/v1_1/{{ $vars.CLOUDINARY_CLOUD_NAME }}/auto/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "file", "value": "={{ $binary.audio.data }}", "parameterType": "formBinaryData" },
            { "name": "upload_preset", "value": "={{ $vars.CLOUDINARY_UPLOAD_PRESET }}" },
            { "name": "resource_type", "value": "video" },
            { "name": "folder", "value": "finance-audio" }
          ]
        },
        "options": {}
      },
      "id": "fin_7",
      "name": "Upload Audio to Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.pexels.com/videos/search",
        "sendHeaders": true,
        "headerParameters": [{ "name": "Authorization", "value": "={{ $vars.PEXELS_API_KEY }}" }],
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $('Parse Script').item.json.visual_search }}" },
            { "name": "orientation", "value": "portrait" },
            { "name": "per_page", "value": "6" },
            { "name": "min_duration", "value": "8" }
          ]
        },
        "options": {}
      },
      "id": "fin_8",
      "name": "Pexels - Wealth Footage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "jsCode": "const script = $('Parse Script').item.json;\nconst audioUrl = $('Upload Audio to Cloudinary').item.json.secure_url;\nconst videos = $input.first().json.videos || [];\nif (!audioUrl) throw new Error('Audio upload failed');\nconst getUrl = (v) => { const hd = v?.video_files?.find(f => f.quality === 'hd' && f.width <= 1080); return hd?.link || v?.video_files?.[0]?.link || null; };\nconst clips = videos.map(v => getUrl(v)).filter(Boolean).slice(0, 3);\nwhile (clips.length < 3) clips.push(clips[0] || '');\nreturn [{ json: { ...script, audioUrl, videoClip1: clips[0], videoClip2: clips[1], videoClip3: clips[2] } }];"
      },
      "id": "fin_9",
      "name": "Combine Assets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": [
          { "name": "Authorization", "value": "=Bearer {{ $vars.CREATOMATE_API_KEY }}" },
          { "name": "Content-Type", "value": "application/json" }
        ],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_id\": \"{{ $vars.CREATOMATE_FINANCE_TEMPLATE_ID }}\",\n  \"modifications\": {\n    \"video-clip-1\": \"{{ $json.videoClip1 }}\",\n    \"video-clip-2\": \"{{ $json.videoClip2 }}\",\n    \"video-clip-3\": \"{{ $json.videoClip3 }}\",\n    \"voiceover-audio\": \"{{ $json.audioUrl }}\",\n    \"hook-text\": \"{{ $json.hook }}\",\n    \"stat-overlay\": \"{{ $json.text_overlay }}\",\n    \"title-text\": \"{{ $json.title }}\"\n  }\n}",
        "options": {}
      },
      "id": "fin_10",
      "name": "Creatomate - Render Finance Short",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 300],
      "notes": "Set CREATOMATE_FINANCE_TEMPLATE_ID after importing template-3-finance-money.json into Creatomate."
    },
    {
      "parameters": { "unit": "seconds", "amount": 90 },
      "id": "fin_11",
      "name": "Wait for Render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2200, 300],
      "webhookId": "wait-finance-render"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.creatomate.com/v1/renders/{{ $('Creatomate - Render Finance Short').item.json[0].id }}",
        "sendHeaders": true,
        "headerParameters": [{ "name": "Authorization", "value": "=Bearer {{ $vars.CREATOMATE_API_KEY }}" }],
        "options": {}
      },
      "id": "fin_12",
      "name": "Get Render URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": { "response": { "response": { "responseFormat": "file", "outputPropertyName": "video" } } }
      },
      "id": "fin_13",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "title": "={{ $('Parse Script').item.json.title }}",
        "description": "={{ $('Parse Script').item.json.description }}",
        "categoryId": "22",
        "options": {
          "tags": "={{ $('Parse Script').item.json.tags.join(',') }}",
          "privacyStatus": "public",
          "madeForKids": false
        }
      },
      "id": "fin_14",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [2860, 300],
      "credentials": { "youTubeOAuth2Api": { "id": "youtube-oauth", "name": "YouTube OAuth2 API" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "={{ $vars.GOOGLE_SHEET_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Finance Log", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toLocaleDateString() }}",
            "Topic": "={{ $('Parse Script').item.json.title }}",
            "Key Stat": "={{ $('Parse Script').item.json.key_stat }}",
            "YouTube URL": "=https://youtube.com/shorts/{{ $json.id }}",
            "Status": "Live"
          }
        },
        "options": {}
      },
      "id": "fin_15",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [3080, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-oauth", "name": "Google Sheets OAuth2" } }
    }
  ],
  "connections": {
    "Every 8 Hours 3x Daily": { "main": [[{ "node": "Fetch Financial News", "type": "main", "index": 0 }]] },
    "Fetch Financial News": { "main": [[{ "node": "Pick Finance Topic", "type": "main", "index": 0 }]] },
    "Pick Finance Topic": { "main": [[{ "node": "Claude - Finance Script", "type": "main", "index": 0 }]] },
    "Claude - Finance Script": { "main": [[{ "node": "Parse Script", "type": "main", "index": 0 }]] },
    "Parse Script": { "main": [[{ "node": "ElevenLabs - Confident Voice", "type": "main", "index": 0 }]] },
    "ElevenLabs - Confident Voice": { "main": [[{ "node": "Upload Audio to Cloudinary", "type": "main", "index": 0 }]] },
    "Upload Audio to Cloudinary": { "main": [[{ "node": "Pexels - Wealth Footage", "type": "main", "index": 0 }]] },
    "Pexels - Wealth Footage": { "main": [[{ "node": "Combine Assets", "type": "main", "index": 0 }]] },
    "Combine Assets": { "main": [[{ "node": "Creatomate - Render Finance Short", "type": "main", "index": 0 }]] },
    "Creatomate - Render Finance Short": { "main": [[{ "node": "Wait for Render", "type": "main", "index": 0 }]] },
    "Wait for Render": { "main": [[{ "node": "Get Render URL", "type": "main", "index": 0 }]] },
    "Get Render URL": { "main": [[{ "node": "Download Video", "type": "main", "index": 0 }]] },
    "Download Video": { "main": [[{ "node": "Upload to YouTube", "type": "main", "index": 0 }]] },
    "Upload to YouTube": { "main": [[{ "node": "Log to Google Sheets", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner", "errorWorkflow": "" },
  "staticData": null,
  "pinData": {}
}
